

/* LESS-Elemente */
.grundschrift() {
    /* display : block; */
    .schriftgroesse();
    font-family: Arial, Helvetica, sans-serif;
}

.schriftgroesse() {
    font-size:12pt;
}

.kursiv() {
    font-style: italic;
}

.ueberschrift() {
    font-weight: 700;
    font-size: 20px;
}

.kasten(){
    display:block;
    border: 1px solid black;

    padding: 1%;
}

.erklaertext(){
        font-size:8pt;
    color: #8a8a8a;
      font-style: normal;
}

@namespace oxy "http://www.oxygenxml.com/extensions/author";
@media oxygen-high-contrast-black, oxygen-dark-theme{
    oxy|doctype {
        color:#D0E2F4 !important;
    }
}

oxy|comment {
    display:none !important;
}

/* Elemente */
maju[majuskel="A"]:after {
    content:"\A""A";
    font-weight: bold;
    font-size: 40px;
}
/* Weitere Majuskeln manuell ergänzen */

box {
    background-color: #E0E0FF; 
display:block;
}
box:before {
        content:"\A"; /* Zeilenumbruch einfügen */
}

box-inhalt {
    .grundschrift();   
}

box-meta {
    .kursiv()
}

box-stw {
    .grundschrift();

}


box-stw:after {
        content:"\A"; /* Zeilenumbruch einfügen */
}


br:after {
    content:"\A";
}


bsp-hinw {
    .grundschrift()
}
bsp-hinw:before {
    content:" (";
}
bsp-hinw:after {
    content:")";
}


bsp-wort {
background-color: #fdebd0;
    .kasten();
}
bsp-wort:before {
    content:"BEISPIEL-WORT: ";
    .erklaertext();
}

bsp-wort:after {
    content:" ";
}


          
eintrag {
display:block;
  max-width:1000px;
  margin: 0px;
    padding: 1em;
    border: 1px solid white;

    
}


eintrag:before {
    content:"";
}

eintrag:after {

}

genus[genustyp="f"] {
    content:"f.: "; .kursiv();
    background-color: #fdebd0;
}

genus[genustyp="m"] {
    content:"m.: "; .kursiv();
    background-color: #fdebd0;
}

genus[genustyp="n"] {
    content:"n.: "; .kursiv();
    background-color: #fdebd0;
}

genus[genustyp="pl"] {
    content:"Pl.: "; .kursiv();
    background-color: #fdebd0;
}

idm[typ="eigenständig"]{

}

idm {
    content: oxy_combobox(width, 5em, edit, "@typ", editable, false, values, "eigenständig, angehängt") oxy_textfield(width, 4em, edit, "@idref") " ";
   .grundschrift(); 

}
idm:before {
    content:"VERWEIS AUF ANDERES LEXEM: (ID: " attr(idref) ") ";
    .erklaertext();
}


info[typ="true"] {

    content: " ⓘ " oxy_checkbox(
edit, "@typ",
values, "true",
uncheckedValues, "false",
labels, "Info Icon zeigen (gewählt: ja)");
        .kasten();
    font-weight: bold;
    color: blue;
}
info[typ="false"] {

    content: " ⓘ " oxy_checkbox(
edit, "@typ",
values, "true",
uncheckedValues, "false",
labels, "Info Icon zeigen (gewählt: nein)");
        .kasten();
    font-weight: bold;
    color: grey;  
}









lexem[typ="aus-erw"] { display: none }
lexem[typ="aus-nachs"] { display: none }
lexem[typ="aus-wort"] { display: none }
lexem[typ="klamm-erw"] { .grundschrift() }
lexem[typ="klamm-erw"]:before { content:"(" }
lexem[typ="klamm-erw"]:after { content:")" }
lexem[typ="klamm-vors"] { .grundschrift() }
lexem[typ="klamm-vors"]:before { content:"(" }
lexem[typ="klamm-vors"]:after { content:")" }

lexem[typ="slash-wort"] { font-size: 0 } /* Inhalt durch "/" ersetzen */
lexem[typ="slash-wort"]:after { content:"/"; .schriftgroesse();}

maju {
}

pollist {
    counter-reset: zaehler; /* Zählervariable zurücksetzen */
}

bedeutung > polysem {
    .kasten();
}

bedeutung[typ="pollist"] > polysem:before {
    counter-increment: zaehler;
    content:counter(zaehler) ".";
    font-weight: bold;
        margin-left:0;
}

bedeutung[typ="spz"] > polysem {
    
}

bedeutung[typ="spz"] > polysem:before {
    counter-increment: zaehler;
    content:"";
    font-weight: bold;
        margin-left:0;
}



s-a {
    content:" ";
   .grundschrift(); 
   .kasten();
   background-color: #fdebd0;
}
s-a:before {
    content:"SIEHE-AUCH-VERWEIS: (ID: " attr(idref) ") ";
    .erklaertext();
}

sachg {
    font-style: italic;

}
sachg:after {
    content:"";
}

sachg:before {
    content:"SACHGRUPPE ";
    .erklaertext();
}

spz:before {
    content:" ";
    margin-left:2em;
}
stil:before {
  content: "STIL: ";

    .erklaertext();
}
stil {
    font-style: italic;

}

stil:after {
content:"";
}



stw {
    content: oxy_textfield(width, 4em, edit, "@id") " ";
    .kasten();
}


stw:before {
  content: " LEXEM (ID: " attr(id) ") ";
    .erklaertext();
}

subpolysem {
    .kasten();
    margin-top: 10px;
}

subpolysem:before {
    content: "SPEZIFISCHE VERWENDUNGSWEISE: ";
    .erklaertext();
}

subsachg { /* Kommt  nicht vor  */
    font-style: italic;
}

subsachg:after {
    content:": ";
}



syn {


}

syn:before {
    content: "SYNONYM: ";
    .erklaertext();
}

syno {
    .grundschrift();
    display:block;
}

bedeutung {
    .kasten();
}

/* Elemente für aktualisierte XML */
bedeutung[typ="pollist"] {
counter-reset: zaehler; /* Zählervariable zurücksetzen */
}


bedeutung:before {
  content: " BEDEUTUNGSVIELFALT: " attr(typ) " ";
    font-size:8pt;
    color: #8a8a8a;  
}

wortart:before{
    content: " WORTART (TYP: " attr(typ) ") ";
    .erklaertext()
}

wortart {
    .kasten();
    content: oxy_combobox(width, 10em, edit, "@typ", editable, false, values, "n, rest", labels, "Substantiv, kein Substantiv");
}

eintrag > * {
    background-color: #bad8ff;
}

wortart > * {
    background-color: #bbffba;
    content: oxy_combobox(width, 5em, edit, "@typ", editable, false, values, "spz, pollist", labels, "monosem, polysem");

}

bedeutung > * {
    background-color: #e7baff;
}

bedeutung > * > * {
    background-color: #ffbaba;
}

bedeutung > * > * > * {
    background-color: #fcffba;
}

